    <%= simple_form_for(@guide, html: {class: "form-signin"}) do |f| %>

      <%= f.error_notification %>

        <%= f.input :name, required: true, autofocus: true, label: false, placeholder: "Growth Hack Name", input_html: { class: "form-control" } %>
        <%= f.input :author, required: true, label: false, placeholder: "Growth Hack Author", input_html: {class: "form-control" } %>

        <%= f.select_tag(:category_id, options_for_select([['Acquisition', '1'],
                 ['Activation', '2'],['Retention','3'],['Referral','4'],['Revenue','5']], '5')) %>

        <!-- :category_id, required: true, label: false, placeholder: "Category", input_html: { class: "form-control", rows: 5 } %>
 -->
        <%= f.input :description, required: true, label: false, placeholder: "Growth Hack Short Description", input_html: { class: "form-control", rows: 5 }, :length => 140 %>
        <br>
        <%= f.input :longdescription, required: true, label: false, placeholder: "Growth Hack Long Description", input_html: { class: "form-control", rows: 5 } %>
        <br>
        <%= f.input :price, required: true, label: false, placeholder: "Price your Hack (0 is Free)", input_html: { class: "form-control" } %>
        <%= f.input :image, label: "Attach an Image to your Growth Hack" %>
        <%= f.input :resource, label: "Attach a Video or PDF (MOV, FLV, PDF)", required: false %>

          <div class="checkbox text-center">
            <p>Make Hack Available Immediately?</p>
            <%= f.input :availability, required: false, label: false %>
          </div>
 
        <%= f.button :submit, "Save Growth Hack", class: "btn btn-primary btn-block" %>
    <% end %>
