
  <div class="bs-docs-header" id="guide-bg-image" style="background: url('<%= @guide.image.url(:original) %>');">
  </div>

  <div class="container text-center" id="guide-bg-content">
          <%= render 'showlinks' %> <br>

          <h1><%= @guide.name %></h1>
          <p><%= @guide.description %></p>
          
          <br>

          <p class="label label-default label-empty"><strong>difficulty:</strong> beginner</p> 
          <p class="label label-default"><strong>time:</strong> 4-6 hours</p>
        </div>

          <br>

        <div id="progressrow" class="row">
          <%= render 'progressbar' %>
          </div>
          
          <div class="col-md-2"><%= render 'guidecta' %></div>
        </div>


<%= render 'guidelanding' %>
<br>
<%= render 'guidelanding' %>
<br>
<%= render 'guidelanding' %>

