<nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          </i><%= link_to "Hacker Guides", root_path, class: "navbar-brand mute", id: "brand" %>
        </div>
 
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
          <ul class="nav navbar-nav">
        <li class="dropdown mega-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse Hacks <span class="caret"></span></a>       
        <div class="dropdown-menu mega-dropdown-menu">
                    <div class="container-fluid">
                <!-- Tab panes -->
                        <div class="tab-content">
                          <div class="tab-pane active" id="men">
                            <ul class="nav-list list-inline">
                                <li><a href="/categories/1"><%= image_tag 'acquisition.png' %><span>Acquisition</span></a></li>
                                <li><a href="/categories/2"><%= image_tag 'activation.png' %><span>Activation</span></a></li>
                                <li><a href="/categories/3"><%= image_tag 'retention.png' %><span>Retention</span></a></li>
                                <li><a href="/categories/4"><%= image_tag 'referral.png' %><span>Referral</span></a></li>
                                <li><a href="/categories/5"><%= image_tag 'revenue.png' %><span>Revenue</span></a></li>
                            </ul>
                          </div>
                          <div class="tab-pane" id="women">
                            <ul class="nav-list list-inline">
                                <li><a href="#"><%= image_tag 'acquisition.png' %><span>Acquisition</span></a></li>
                                <li><a href="#"><%= image_tag 'activation.png' %><span>Activation</span></a></li>
                                <li><a href="#"><%= image_tag 'retention.png' %><span>Retention</span></a></li>
                                <li><a href="#"><%= image_tag 'referral.png' %><span>Referral</span></a></li>
                                <li><a href="#"><%= image_tag 'revenue.png' %><span>Revenue</span></a></li>
                            </ul>
                          </div>
                    
                        </div>
                    </div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                       <li class="active"><a href="#men" role="tab" data-toggle="tab">Growth</a></li>
                       <li><a href="#women" role="tab" data-toggle="tab">Product</a></li>
                       <li><a href="#kids" role="tab" data-toggle="tab">Featured</a></li>
                    </ul>                    
        </div>        
      </li>
        </ul>
          
          <ul id="header-nav-right" class="nav navbar-nav navbar-right">
              <li><%= link_to "Sell Guides", new_guide_path %></li>
              <li><%= link_to "Browse Guides", guides_path %></li>
              <li><%= link_to "Blog", blog_index_path %></li>
            <% if current_user %> 
              <li><%= link_to "Dashboard", dashboard_path %></li>
              <li><%= link_to "Settings", edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign In", new_user_session_path %></li>
            <% end %>
            
            
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>