<!DOCTYPE html>
<html>
<head>
  <title>Hacker Guides | Buy and Sell Growth Hacks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'sweet-alert' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'sweet-alert' %>
  <%= javascript_include_tag 'http://js.stripe.com/v1/', "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLIC_KEY'] %>

</head>
<body>

<%= render "layouts/header" %>

<div class="">
	<% flash.each do |type, message| %>
		<div class="alert alert-info fade-in">
			<button class="close" data-dismiss="alert">x</button>
			<%= message %>
		</div>
	<% end %>

	<%= yield %>
</div>

<%= render "layouts/footer" %>

</body>
</html>
